{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
</head>
<body>
    <div class="container-home">
        <div class="container-lb">
            <h3>sinônimo de Agilidade e confiança em todo nordeste do pará !</h3>
        </div>
        <div>
            <img class="main-img" src="{% static 'assets/state.webp' %}">
        </div>
        <div class="track">
            <h3>Rastreie sua encomenda</h3>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Digite o número da Remessa" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">Procurar</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% include 'homepage/services.html' %}
{% include 'homepage/partners.html' %}
{% include 'homepage/contact.html' %}
{% include 'homepage/about.html' %}
{% include 'homepage/footer.html' %}
{% block home %}{% endblock home %}